<div class="modal" id="role-options-<%= user.id %>" style="display: none;">
  <%= simple_form_for user, :url => user_path(user), :html => {:method => :put, :class => 'form-horizontal' } do |f| %>
  <% end %>
</div>
